<div class="container">

  <div class="container money">
    <br><br>
    <h5>여러분의 돈 <br>학생회는 어따쓸까요?</h5>
   
     <img class="responsive-img" src="/assets/money.jpg">
     <!--<%= image_tag "money.jpg" , :size => "400x400" %>-->
    
    
  </div>
  <div class="row">
    <form class="col s12" action="/home/search_receipts" method="get">
      <div class="row">
        <select class="browser-default" name="univ_id">
          <option value="" disabled selected>대학교를 선택해주세요</option>
          <% @univs.each do |u| %>
            <option value="<%=u.id%>"><%=u.univ_name%></option>
          <% end %>
        </select>
        <button class="btn waves-effect waves-light disabled submit" style="width:100%;margin-top:15px;" type="submit" name="action">검색하기<i class="material-icons right">search</i></button>
      </div>
    </form>
  </div>
</div>  
  <style>
      @import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
      .nav-wrapper {
          font-family: 'Jeju Gothic', sans-serif;
      }
      #nav-mobile {
          font-family: 'Jeju Gothic', sans-serif;
      }
      .textbox{
        margin-top:100px;
        font-family: 'Jeju Gothic', sans-serif;
      }
      h5{
        font-family: 'Jeju Gothic', sans-serif;
      }
     

      /*p{*/
      /*   font-family: 'Jeju Gothic', sans-serif;*/
      /*   font-size: 50px;*/
      /*   margin-top:100px;*/
      /*   position: absolute;*/
      /*    top: 4%;*/
      /*    left: 50%;*/
      /*    transform: translate(-50%, -50%);*/
      /*}*/
      nav{
        font-family: 'Jeju Gothic', sans-serif;
      }
      .row{
        font-family: 'Jeju Gothic', sans-serif;
      }
      .money{
        text-align:center;
      }
       .responsive-img {
          width: 360px;
          height: 280px
        }

    
   
  </style>
  <script>
      $(document).ready(function() {
        $(".button-collapse").sideNav();
        $( "select" ).change(function() {
          $(".submit").removeClass("disabled")
        });
        var selectValue = $("select option:selected").val();
        if (selectValue != ""){
          $(".submit").removeClass("disabled")
        };
      });
  </script>